# Project exclude paths
/.gradle/
/build/
/.idea/
*.iml
/data/dragraliatemp/
/out/
local.properties
/classes/
/data/image/head.jpg
/data/image/img.jpg
/data/npldata
/data/screenshot/
/data/log

/data/HuoZiYinShua/.idea/
