<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aye10032.mapper.FFStoneMapper">
  <resultMap id="BaseResultMap" type="com.aye10032.foundation.entity.base.ffxiv.FFStone">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="item_rank" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="item_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="item_count" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="value_required" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gain_exp" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, item_rank, item_name, item_count, value_required, gain_exp
  </sql>
  <select id="selectByExample" parameterType="com.aye10032.foundation.entity.base.ffxiv.FFStoneExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ffxiv_stone
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ffxiv_stone
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ffxiv_stone
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aye10032.foundation.entity.base.ffxiv.FFStoneExample">
    delete from ffxiv_stone
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aye10032.foundation.entity.base.ffxiv.FFStone">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ffxiv_stone (item_rank, item_name, item_count, 
      value_required, gain_exp)
    values (#{itemRank,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, #{itemCount,jdbcType=VARCHAR}, 
      #{valueRequired,jdbcType=VARCHAR}, #{gainExp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aye10032.foundation.entity.base.ffxiv.FFStone">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ffxiv_stone
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemRank != null">
        item_rank,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="itemCount != null">
        item_count,
      </if>
      <if test="valueRequired != null">
        value_required,
      </if>
      <if test="gainExp != null">
        gain_exp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemRank != null">
        #{itemRank,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCount != null">
        #{itemCount,jdbcType=VARCHAR},
      </if>
      <if test="valueRequired != null">
        #{valueRequired,jdbcType=VARCHAR},
      </if>
      <if test="gainExp != null">
        #{gainExp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aye10032.foundation.entity.base.ffxiv.FFStoneExample" resultType="java.lang.Long">
    select count(*) from ffxiv_stone
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ffxiv_stone
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.itemRank != null">
        item_rank = #{record.itemRank,jdbcType=INTEGER},
      </if>
      <if test="record.itemName != null">
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemCount != null">
        item_count = #{record.itemCount,jdbcType=VARCHAR},
      </if>
      <if test="record.valueRequired != null">
        value_required = #{record.valueRequired,jdbcType=VARCHAR},
      </if>
      <if test="record.gainExp != null">
        gain_exp = #{record.gainExp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ffxiv_stone
    set id = #{record.id,jdbcType=INTEGER},
      item_rank = #{record.itemRank,jdbcType=INTEGER},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      item_count = #{record.itemCount,jdbcType=VARCHAR},
      value_required = #{record.valueRequired,jdbcType=VARCHAR},
      gain_exp = #{record.gainExp,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aye10032.foundation.entity.base.ffxiv.FFStone">
    update ffxiv_stone
    <set>
      <if test="itemRank != null">
        item_rank = #{itemRank,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemCount != null">
        item_count = #{itemCount,jdbcType=VARCHAR},
      </if>
      <if test="valueRequired != null">
        value_required = #{valueRequired,jdbcType=VARCHAR},
      </if>
      <if test="gainExp != null">
        gain_exp = #{gainExp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aye10032.foundation.entity.base.ffxiv.FFStone">
    update ffxiv_stone
    set item_rank = #{itemRank,jdbcType=INTEGER},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_count = #{itemCount,jdbcType=VARCHAR},
      value_required = #{valueRequired,jdbcType=VARCHAR},
      gain_exp = #{gainExp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>